<form asp-action="Create">
    <label style="width:15%" for="Title">Title</label>
    <input type="text" name="Title" /><br />
    <label style="width:15%" for="AlbumId">Album's Id</label>
    <input type="number" name="AlbumId" /><br />
    <label style="width:15%" for="Runtime">Runtime</label>
    <input type="number" name="Runtime" /><br />
    <label style="width:15%" for="FeatArtist">Featured Artist (if any)</label>
    <input type="text" name="FeatArtist" /><br />
    <input type="submit" class="btn btn-info" />
</form>