<form asp-action="Update">
    <label style="width:15%" for="Id">Id</label>
    <input type="number" name="Id" /><br />
    <label style="width:15%" for="Title">Title</label>
    <input type="text" name="Title" /><br />
    <label style="width:15%" for="ArtistId">Artist's Id</label>
    <input type="number" name="ArtistId" /><br />
    <label style="width:15%" for="ReleaseDate">Release Date</label>
    <input type="date" name="ReleaseDate" /><br />
    <label style="width:15%" for="AvgUserRating">Average User Rating</label>
    <input type="number" name="AvgUserRating" /><br />
    <label style="width:15%" for="Price">Price</label>
    <input type="number" name="Price" /><br />
    <input type="submit" class="btn btn-info" />
</form>