@model IEnumerable<MusicMvcAndApi.Models.Artist>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="w-75">Artist or Band Name</th>
            <th>ID-number</th>
            <th><a asp-action="Create" class="btn btn-info">Create</a></th>
            <th><a asp-action="Update" class="btn btn-info">Edit</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a asp-action="Index" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></td>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger text-dark">Delete</a></td>
            </tr>
        }
    </tbody>
</table>