<form asp-action="Update">
    <label style="width:15%" for="Id">Id</label>
    <input type="number" name="Id"/><br />
    <label style="width:15%" for="Name">Name</label>
    <input type="text" name="Name" /><br />
    <input type="submit" class="btn btn-info" />
</form>